* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: Cabin, 游ゴシック体, YuGothic, Yu Gothic, 游ゴシック,
    Yu Gothic Medium, sans-serif;
  font-size: 1.6rem;
}
@font-face {
  font-family: "Yu Gothic Medium";
  src: url("../font/Yu\ Gothic\ Medium.otf");
}
ul {
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none!important;
}
:root{
  --primary-color:#F28599;
  --secondary-color:#64686A;
  --tartiary-color:#FFF5F6;
  --tarnary-color:#FFFFFF;
}

/* navbar part css */
.Navcontainer {
  max-width: 1266px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Navcontainer .main {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}
h3,h4,h5{
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 500;
}
.boxshadow {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
 
  top:0;
  width: 100%;
  z-index: 99;
}
.main-main {
  display: flex;
  justify-content: space-between;
}
.Navcontainer .main-around li {
  color: #64686a;
  font-size: 14px;
  font-family: 500;
  margin-top: 15px;
}
.main-around {
  display: flex;
  justify-content: space-around;
}
nav p {
  color: #7e7e7e;
  display: block;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.4545454545;
}
nav .logo {
  width: 267px;
}
nav .text-call {
  color: #dd6779;
}
nav .logo img {
  width: 100%;
}

nav .call {
  color: #64686a;
  display: block;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.4;
  padding-left: 8px;
  position: relative;

  text-decoration: none;
  font-family: "Shippori Mincho", serif;
}
nav .main-f {
  display: flex;
  align-items: center;
}

.button-p {
  min-width: 210px;
  font-size: 1.5rem;
  line-height: 1.4666666667;
  min-height: 44px;
  padding: 10px;
  background-color: #f28599;
  border-radius: 34px;
  font-weight: 600;
  border: none;
  color: #fff !important;
  letter-spacing: 0.02em;
  text-align: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: "Shippori Mincho", serif;
}
.button-p p {
  color: #fff;
  position: relative;
  font-weight: 600;
  font-family: "Shippori Mincho", serif;
  font-size: 13px;
}

.button-p p::after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.619' height='15.619'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='m14.817 7.008-.007 1.607q-.09 0-.179-.002a4.122 4.122 0 0 0-4 4.035l-1.644.006a5.576 5.576 0 0 1 1.754-4.024l-9.898.022L.85 6.96l9.823-.022A5.5 5.5 0 0 1 9.03 2.995l1.644-.004a4.057 4.057 0 0 0 3.962 4.017q.09-.003.178-.003Z'/%3E%3C/svg%3E")
    no-repeat 50%;
  background-size: 16px 16px;
  content: "";
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  top: 50%;
  right: 18px;
  transform: translatey(-50%);
}

.LineIcon {
  width: 40px;
  height: auto;
}
/* navbar part css end */

/* Hero part start */
#hero_part{
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
  padding:100px 0 200px  0;
  z-index:-1;
  background-position: 50% 0;
}
.hero_btn a{
  border: 1px solid black;
  padding: 10px 16px;
  color:#64686A;
  font-size: 24px;
  font-family: 'Shippori Mincho B1', serif;
}
.text h5{
  font-size: 20px;
}
.text h5 span{
  color: var(--primary-color);
}
.text_big{
  font-weight: 500;
  font-size: 57px;
  color: var(--secondary-color);
}
.text h3{
  font-size: 38px;
  color: var(--secondary-color);
  margin-bottom:20px;
}
.text h4{
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.text h5{
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 30px;
}
/* Hero part end */
/* button part start */
.button_part{
  margin-top:20px;
}
.button_single{
  background: var(--primary-color);
  border-radius: 25px;
  text-align: center; 
  margin-bottom:8px;
  height:44px;
  transition: .5s;
  
}
.button_single a{
  color:var(--tartiary-color);
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  
}
.button_single:hover{
  background:#DD647A;
}

/* button part end */
/*Alorie_part css start  */
#Alorie_part{
  background-repeat: no-repeat ;
  background-size:cover;
  padding:60px 0;
  margin-top: 20px;
}
.alori_main{
  text-align: center;
}
.alori_main h2{
  font-size: 24px;
  font-weight: 400;
  font-family: 'Shippori Mincho B1', serif;
  color: var(--secondary-color);
}
.top{
  margin:30px 0 25px 0;
}
.alori_main span{
  font-size: 24px;
  font-weight: 400;
  font-family: 'Shippori Mincho B1', serif;
  color: var(--secondary-color);
}
.alori_main p{
  color:#64686A;;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
}
/*Alorie_part css end  */

/* notice part start */
#notice_part{
  margin-top: 30px;
  padding: 30px 0;
}
.notice_left h2{
  font-family: 'Shippori Mincho B1', serif;
  font-size: 24px;
  font-weight: 500;
}
.notice_left h4{
  font-size: 11px;
  font-weight: 400;
  margin-top: 140px;
}
.notice_left h4 img{
height: 17px;
width: 17px;
margin-right: 3px;
}
.date{
  font-size: 13px;
  color:#939A9A;
}

.notice_item a{
  font-size: 11px;
  color: #939A9A;
  border: 1px solid var(--secondary-color);
  padding: 3px 25px;
  margin:0 23px 0 23px;
}
.notice_right{
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
}
/* notice part end */
/* treatment part css */
#treatment_part{
  background:#FFF5F6;
}
.treatment_header{
  text-align: center;
  padding-top: 60px;
  margin-bottom:35px;
}
.treatment_header span{
  font-size: 24px;
  color: #939A9A;
  font-weight: 500;
  font-family: 'Cormorant Infant', serif;
}
.treatment_header h2{
  font-size: 44px;
  color: var(--secondary-color);
  font-family: 'Cormorant Infant', serif;
  font-weight: 500;
  padding-top: 10px;
}
.treatMentOne{
  background-color:var(--tarnary-color);
  text-align: center;
  padding: 30px 0 50px 0;
  margin-bottom:30px;
}
.treettrat{
  width:100px;
  padding-bottom:20px;
}
.treatMentOne h3{
  font-size: 32px;
  color: var(--secondary-color);
}
.treatMentOne a{
  font-size: 11px;
  color: #939A9A;
  border: 1px solid var(--secondary-color);
  padding: 5px 20px;
  margin-bottom: 20px;
}
.treatMentOne p{
  color: var(--secondary-color);
  font-size: 16px;
  padding: 25px 0;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
}

.treet_1btn a{
  background: var(--primary-color);
  color: var(--tarnary-color);
  border: none;
  text-align: center;
  padding: 13px 55px;
  font-size: 15px;
  border-radius: 25px;
  margin-right: 20px;
}
.treatMent_two{
  background: var(--tarnary-color);
  text-align: center;
  padding:35px 0;
}
.treatMent_two h3{
  font-size: 32px;
  color: var(--secondary-color);
  padding: 15px 0 5px 0;
}
.treatMent_two a{
  font-size: 11px;
  color:#939A9A;
  border: 1px solid var(--secondary-color);
  padding: 4px 30px;
}
.treatP{
  margin-top: 30px;
}
.treatMent_two p{
  font-size:16px;
  color: var(--secondary-color);
  font-family: 'Cabin', sans-serif;
  line-height: 28px;
}
.treatment_carBottom{
  margin:25px 45px;
  
  
}
.treatment_carBottom_one{
  border: 1px solid #ddd;
  padding: 35px 30px 50px 30px;
}
.treatment_carBottom_one h3{
  font-size: 20px;
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 500;
}
.treatment_carBottom_one p{
  font-size: 16px;
  color: var(--secondary-color);
  line-height:29px;
  margin-bottom: 30px;
  
}
.treatment_carBottom_one img{
  height: 25px;
  width:25px;
  margin-left:120px;
  
}
.treatment_carBottom_one a{
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  font-size: 14px;
  padding: 0 0 0 7px;

}
.treat_right{
  margin-bottom: 30px;
}
.treat_topmargin{
transform:translateY(20px)  ;
}
.treatbottoms_button{
  margin-top: 30px;
}
.treatbottoms_button a{
  background: var(--primary-color);
  color: var(--tarnary-color)!important;
  border: none;
  text-align: center;
  padding: 13px 55px;
  font-size: 15px;
  border-radius: 25px;
  margin-right: 20px;
  text-decoration: none;
transition: .5s;
}
.treatbottoms_button a:hover{
  background:#DD647A;
}
.trt_gap{
  margin-top: 30px;
  padding-bottom: 60px;
}
/* treatment part css end */
/* beauty part start */
#beauty_part{
  background:#FFF5F6;
}
.beatuty_main{
  background: var(--tarnary-color);
}
.beauty_header{
  text-align: center;
}
.beauty_header img{
  width: 100px;
  margin-top: 30px;
}
.beauty_header h2{
  font-size: 32px;
  color: var(--secondary-color);
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 500;
  margin: 15px 0 10px 0;
}
.beauty_header a{
  font-size: 11px;
  color: #939A9A;
  border: 1px solid var(--secondary-color);
  padding: 4px 30px;
  
}
.beauty_header{
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 28px;
  font-weight: 400;
font-family: 'Cabin', sans-serif;
}
.beatuty_p{
  margin-top: 30px;
  
}
.beauty_items{
  border: 1px solid #ddd;
  
  margin: 40px 0 0px 0px;
  padding: 30px;
}
.beatuty_row{
  margin: 0 40px;
}
.beauty_items h3{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-family: 'Cormorant Infant', serif;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.beauty_items p{
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 400;
font-family: 'Cabin', sans-serif;
margin-bottom: 20px;
line-height: 28px;
}
.beatuty_a a img{
  max-width: 25px;
  max-height:25px ;
  margin-right: 8px;
  
}
.beatuty_a a span{
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  border-bottom: 1px solid var(--secondary-color);
  max-width: 40px;
  
}
.margin_rights p{
 margin-bottom: 0;
 
}
.beauty_gap{
  padding-bottom:20px ;
}
.beatuty_main{
  padding-bottom: 50px;
}
.treet_bottomssakk{
  margin-top: 25px;
}
.treetment_circle{
  margin-top: 30px;
  padding:30px 0 70px 0;
}
/* beauty part end */

/* reservation_part part start */
#reservation_part{
  padding: 70px 0;
}
.reservation span{
  font-size: 24px;
  font-weight: 500;
  font-family: 'Cormorant Infant', serif;
  color:#939A9A;
 
}
.reservation h2{
  font-size: 44px;
  color:var(--secondary-color);
  margin:15px 0 30px 0 ;
}
.reservation h4{
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color:var(--secondary-color);
}
.reservation p{
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color:var(--secondary-color);
  line-height: 28px;

}
.pchin{
  margin-bottom: 30px;
}
.colorssp span{
  color: #DD6779;
  font-size: 13px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
}
.reservation a{
  background: var(--primary-color);
  padding: 15px 150px;
  color:var(--tarnary-color);
  border-radius: 25px;
  font-size: 18px;
  font-family: 'Shippori Mincho B1', serif;
  transition: .5s;
  
}
.reservation a:hover{
  background:#DD647A;
}
.color_width{
  margin-top: 20px;

}
/* reservation part end */

/* consultaion part start */
#Consultation_part{
  background:#FAFAFA;
  padding: 60px 0 40px 0;
}
.consultaion_header{
  text-align: center;
}
.consultaion_header span{
 font-size: 24px;
 color:#939A9A;
 font-family: 'Cormorant Infant', serif;
 font-weight: 500;
}
.consultaion_header h2{
font-size: 44px;
color:var(--secondary-color);
font-family: 'Cormorant Infant', serif;
font-weight: 500;
padding-top: 10px;
margin-bottom:30px;
}
.table_color{
  background:#FFF5F6;
  padding: 35px 75px 35px 35px;
}

.table_color p{
  font-size: 16px;
}
.table_color p span{
  font-size: 16px;
  color: var(--primary-color);
  line-height: 32px;
}
.table_part{
  margin-top: 40px;
  background: var(--tarnary-color);
}
/* phycho part start */
.phycho_right img{
  width: 100%;
}
.phycho_parts{
  background: var(--tarnary-color);
  padding: 60px 50px;
}
.physcho_item{
  margin-top: 70px;
}
.physcho_item img{
  width: 300px;
  margin-bottom: 30px;
}
.physcho_item h4{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  color: var(--secondary-color);
  transform: translateY(10px);
  
}
.physcho_item h5{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  color: var(--secondary-color);
  padding-top:3px;
}
.physcho_item span{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  color: var(--secondary-color);
  line-height: 28px;
}
.physcho_item p{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  color: var(--secondary-color);
  width: 76%;
  line-height: 29px;
}
.chineH4{
  margin-bottom: 20px;
}
.phycho_icon a img{
  width:35px;
  height: 35px;
}
.phycho_icon a span{
  font-size: 14px;
  color: var(--secondary-color);
  padding-left: 5px;
  text-decoration: underline;
}
.maps_igg{
  max-width: 13px;
  max-height: 13px;
}
.phycho_right h3{
  color: var(--secondary-color);
  padding-left:50px;
}
.phycho_right img{
border: 1px solid #ddd;
}
.phycho_icon{
  margin-top: 20px;
}
/* physcho part end */
/* consultaion part end */
/* table part start */
.open{
  border: 1px solid #64686a;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
    height: 12px;
    width: 12px;
}
.consulataion_table{
  background: var(--tarnary-color);
  padding: 80px 60px;
}
.consulataion_table td .close:before {
  background-color: var(--color-base);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.consulataion_table td{
  width: 15%;
}
.consulataion_table th{
  width: 15%;
}
.close{
  height: 14px;
  width: 14px;
}
.table_h3{
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 500;
}
.consultaion_border{
  border: 1px solid #ddd;
}
.cons_gap{
  margin-bottom: 40px;
}























/* product part start */
#product_part{
  background:#fff5f6;
}
#product_part .container{
 position: relative;
}
.product_icon{
  position: absolute;
}

.product_header{
  text-align: center;
  padding-top: 80px;
}
.product_header span{
  font-family: 'Cormorant Infant', serif;
  font-size: 24px;
  color: #939A9A;
  padding-bottom: 10px;
}
.product_header h2{
  font-size:44px;
  color: var(--secondary-color);
  font-weight: 500;
  font-family: 'Shippori Mincho B1', serif;
  margin-bottom: 50px;
}
.product_img img{
  width: 100%;
  padding-bottom: 80px;
}
.product_content p{
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  padding-bottom: 20px;
  line-height: 28px;
}
.product_content{
  padding:50px 0px 0 55px;
}
.product_content a{
  background: var(--primary-color);
  color: var(--tarnary-color);
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 500;
  font-size: 18px;
  min-height: 60px;
  padding:15px 80px;
  border-radius: 35px;
}
.pro_last{
  margin-bottom: 30px;
}
/* product part end */

/* footer part css start */

.footer_left{
  text-align: center;
}
.footer_left p{
  font-size: 11px;
  color:#8B8B8B;
  font-weight: 500;
  padding: 35px 0;
  margin-left: 20%;
}
.footer_right a{
  color: #8b8b8b;
  display: inline-block;
  font-family: var(--font-family-cabin);
  font-size:12px;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 1.3333333333;
  text-decoration: none;
  padding: 35px 0;
}
.ly_footer_privacy>a {
  
  transition: opacity .3s;
}